<div class="container mt-5 mb-5 text-center">
    <h1>Jefe de Local</h1>
    <%= link_to "Volver", admin_leaders_path, class: "btn acomer-btn-primary-outline" %>

    <div class="row mt-5 mb-5 category-page staff-item" style="float:none !important;">
        <% @leaders.each do |leader| %>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="price-block ">
                            <div>
                                <p class="logo-restaurant">
                                    <% if leader.profile.attached? %>
                                    <%= image_tag(leader.profile, width:'100%') %>
                                    <% else %>
                                    <img src="/img/not-avatar.jpg" width="100%" alt="Acomer">
                                    <% end %>
                                </p>
                                <strong>
                                    <%= leader.name %><%= leader.last_name %>
                                </strong>
                                <label class="mt-5">
                                    <strong><%= leader.email %></strong>
                                </label>
                            </div>
                        </div>
                        <%= link_to 'Ver Lider de Sucursal', {controller: "admin_branch_leader" ,action: "show" , id: leader.id}, class: "btn acomer-primary" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>