<div class="container mt-5 mb-5 text-center">
  <h2>Instrucciones<h2>
<div class="timeline">
    <h2>
      I
    </h2>
    <ul class="timeline-items">
      <li class="is-hidden timeline-item">
        <h3>
          Paso 1 <i style="font-family: 'FontAwesome' !important;" class="fas fa-check"></i>
        </h3>
        <hr>
        <p>
          <%= link_to 'Crear un restaurant', new_restaurant_path, class: "btn acomer_yellow" %>
        </p>
      </li>
      <li class="is-hidden timeline-item inverted">
        <h3>
          Paso 2 <i style="font-family: 'FontAwesome' !important;" class="fas fa-check"></i>
        </h3>
        <hr>
        <p>
          <%= link_to 'Crear sucursal', new_branch_path, class: "btn acomer_yellow" %>
        </p>
        <hr>
      </li>
      <li class="is-hidden timeline-item">
        <h3>
          Paso 3 <i style="font-family: 'FontAwesome' !important;" class="fas fa-check"></i>
        </h3>
        <hr>
        <p>
          <%= link_to 'Crea productos', admin_products_path, class: "btn acomer_yellow" %>
        </p>
      </li>
      <li class="is-hidden timeline-item inverted">
        <h3>
          Paso 4 <i style="font-family: 'FontAwesome' !important;" class="fas fa-check"></i>
        </h3>
        <hr>
        <p>
          <%= link_to 'Crea categoría de productos', new_category_path, class: "btn acomer_yellow" %>
        </p>
        <hr>
      </li>
      <li class="is-hidden timeline-item">
        <h3>
          Paso 5 <i style="font-family: 'FontAwesome' !important;" class="fas fa-check"></i>
        </h3>
        <hr>
        <p>
          <%= link_to 'Crea tu carta', new_menu_path, class: "btn acomer_yellow" %>
        </p>
      </li>
      <li class="is-hidden timeline-item inverted">
        <h3>
          Paso 6 <i style="font-family: 'FontAwesome' !important;" class="fas fa-check"></i>
        </h3>
        <hr>
        <p>
          <%= link_to 'Registra tus mesas', new_table_path, class: "btn acomer_yellow" %>
        </p>
        <hr>
      </li>
    </ul>
  </div>
</div>