<h1>Se ha solicitado un retiro de dinero del usuario con el mail: <%= @user.email %></h1>

<p> Los datos son los siguientes: </p>
<p> Razon Social: <%= @payment.business_name %> </p>
<p> Rut de la Empresa: <%= @payment.business_rut %> </p>
<p> Correo de la Empresa: <%= @payment.business_email %> </p>
<p> Nombre del Banco: <%= @payment.bank_name %> </p>
<p> Tipo de cuenta: <%= @payment.account_type %> </p>
<p> Numero de cuenta: <%= @payment.account_number %> </p>