<div id="app">
  <%= form_with(local: true, url: admin_waiter_account_create_path, method: :post, class: "container mt-5 mb-5") do |f| %>
    <h2 class="text-center"> Nuevo Mesero </h2>
      <div class="form-group">
        <%= f.label :name, "Nombre" %><br />
        <%= f.text_field :name, autofocus: true, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, "Apellido" %><br />
        <%= f.text_field :last_name, autofocus: true, class: "form-control", required: true %>
      </div>


      <div class="form-group">
        <%= f.label :email, "Correo electrónico" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :password, "Contraseña" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo.)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
      </div>

      <% if current_user.has_role? :admin %>
        <div class="form-group">
          <%= f.label :branch_id, 'Sucursal' %>
          <select id="branch_id" name="branch_id" class ="form-control" v-model="id_branch">
            <% @branches.each do |b| %>
              <option value="<%= b.id%>"><%= b.name%></option>
            <% end %>
          </select>
        </div>
      <% elsif current_user.has_role? :branch_leader%>
        <%= f.text_field :branch_id, class: "form-control", value: @branch.id, hidden: true%>
      <% end %>

      <% if current_user.has_role? :admin %>
        <div class="form-group">
          <%= f.label :table, "Mesa" %>
          <small>(Opcional)</small>
          <select id="table_id" name="table_id" class ="form-control">
            <option v-for="table in tables_list" :value ="table.id">{{table.number}} | {{ table.description }}</option>
          </select>
        </div>
      <% elsif current_user.has_role? :branch_leader%>
        <div class="form-group">
        <%= f.label :table, "Mesa" %>
        <small>(Opcional)</small>
        <% @tablew = Table.where(branch_id: @branch.id) %>
          <select id="table_id" name="table_id" class="form-control">
          <% @tablew.each do |bra| %>
            <% if bra.assign === false %>
              <option value="<%=bra.id%>"><%= bra.number %>|<%= bra.description%></option>
            <% end %>
          <% end %>
          </select>
      </div>
    <% end %>
      <div class="actions">
        <%= f.submit "Crear", class: "btn acomer-primary" %>
      </div>
  <% end %>
</div>

<script>

  var app = new Vue({
  el: '#app',
  data: {
    id_branch: "",
    tables_list: []
  },
  watch: {
    // Cuando se seleccionan un branch se ejecuta la siguente funcion, que carga las mesas de ese branch de forma dinamica
    id_branch: function () {
      var self = this
      self.tables_list = []
      axios.get('/tables/tablebranch/'+self.id_branch+'.json')
      .then( function (json) {
        console.log(json.data.tables)
        json.data.tables.forEach(element => {
          if (element.assign === false){
            self.tables_list.push(element)
          }
        })
      })
    }
  }
})

</script>
