<div class="container-fluid">
  <div class="row">
    <div class="right-column sisu">
      <div class="row acomer-login">
        <div class="col-md-5 signin-right-column px-5 bg-dark" style="background-image: url('/img/burger-auth.jpg')">
          <a class="signin-logo d-sm-block d-md-none" href="#">
            <img src="/img/logo.png"  alt="Acomer">
          </a>
        </div>
        <div class="col-md-7 signin-left-column bg-white px-5 acomer-login-input">
          <a class="signin-logo d-sm-none d-md-block" href="/">
            <img src="/img/logo.png" height="auto" alt="Acomer">
          </a>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <label for="email">Correo electrónico</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
              <p id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con alguien más.</p>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: true %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <%= f.check_box :remember_me, class: "form-control" %>
                <label>Recuérdame</label>
              </div>
            <% end %>
            <div class="form-group text-left">
              <%= f.submit 'Entrar', class: "acomer-btn-primary"  %>
            </div>
          <% end %>
            <p class="text-left">
              <%= render "devise/shared/links" %>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
