<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @post.likes %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Categoria de Post:</strong>
  <%= @post.post_category.name %>
</p>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to '<i class="batch batch-icon-arrow-left"></i>'.html_safe, posts_path, class: "acomer-btn-secundary" %>
